body {
    background: rgb(241, 117, 0);
    color: yellow;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    color: blueviolet;
    font-family: Verdana, Tahoma, sans-serif
}

p{
    font-size: 22px;
}

img{
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.img_change {
    width: 20px;
    margin-bottom: 2px;
}

.navbar{
    background-color:rgba(75, 77, 1, 0.534);
}

.fogo{
    background-color: red;
    color: yellow;
}

.sopro
{
    background-color: rgb(161, 97, 36);
    color: gold;
    
}

.meteoro
{
    background-color: rgb(36, 36, 143);
    color: white;
}

.fumaca{
    background-color:gray;
    color: black;
}

.margin{
    margin-top: 15px;
    padding-top: 5px;
}

.outrosPersona{
    background-color: black;
    color: white;
}